mixin canvas(data)
    #game
        canvas(id="bgStaticCanvas" width="#{data.width}" height="#{data.height}")
        canvas(id="bgCanvas" width="#{data.width}" height="#{data.height}")
        canvas(id="gameStaticCanvas" width="#{data.width}" height="#{data.height}")
        canvas(id="gameCanvas" width="#{data.width}" height="#{data.height}")
        canvas(id="bonusStaticCanvas" width="#{data.width}" height="#{data.height}")
        canvas(id="bonusCanvas" width="#{data.width}" height="#{data.height}")
