mixin canvas(data)
    #game
        canvas(id="bgStaticCanvas" width="#{data.bgWidth}" height="#{data.bgHeight}")
        canvas(id="bgCanvas" width="#{data.bgWidth}" height="#{data.bgHeight}")
        canvas(id="gameStaticCanvas" width="#{data.gameWidth}" height="#{data.gameHeight}")
        canvas(id="gameCanvas" width="#{data.gameWidth}" height="#{data.gameHeight}")
        canvas(id="bonusStaticCanvas" width="#{data.bonusWidth}" height="#{data.bonusHeight}")
        canvas(id="bonusCanvas" width="#{data.bonusWidth}" height="#{data.bonusHeight}")
